<!DOCTYPE html>
<html>
<head>
    <title><%= titre %></title>
    <%= stylesheet_link_tag 'app/assets/blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'app/assets/blueprint/print',  :media => 'print' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>
